.cardWrapper {
    height: 100%;
}

.card {
    margin: 10px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, .6) 1px 1px 3px 0px;
    background-color: #fff;
    padding-left: 0;
    display: flex;
    color: inherit;
}

.cardColor {
    height: 100%;
    width: 70px;
    margin-right: 10px;
    flex-shrink: 0;
}

.cardData {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardTitle {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: inherit;
    margin: 0;
}

.cardArchive {
    display: flex;
    height: 50%;
    justify-content: center;
    color: inherit;
    flex-shrink: 0;
}