@import "../../assets/styles/colors";
.menu {
    box-sizing: border-box;
    background: var(--primary-color);
    height: 100%;
    box-shadow: rgba(0, 0, 0, .6) 1px 0 5px 0px;
    padding-top: 20px;
}

.menuSwitcher {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #555;
    cursor: pointer;
    z-index: 10;
}

.item {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.item:hover {
    color: #fff;
    text-decoration: underline;
}

.item:visited,
.item:active {
    text-decoration: none;
    color: #fff;
}

.item:last-child {
    margin-bottom: 0;
}

.itemActive,
.itemActive:visited,
.itemActive:active {
    color: var(--secondary-color);
    text-decoration: none;
}